root = true
# editorconfig.org

# C# files
[*.cs]
tab_width = 4
indent_style = space
indent_size = 4
end_of_line = crlf

# Verify settings
[*.{received,verified}.{json,txt,xml}]
charset = utf-8
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false